<!-- @format -->

<p>product-add works!</p>

<form>
    <div class="form-group">
        <label for="name">Product Name:</label>
        <input #productName type="text" id="name" maxlength="256" placeholder="Product Name" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="rate">Product Rate:</label>
        <input #productRate type="number" id="rate" placeholder="Product Rate" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="quantity">Product Quantity:</label>
        <input #productQuantity type="number" id="quantity" placeholder="Product Quantity" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Product Color:</label>
        <input type="color" value="#e66465" #red (click)="setColor(red)" />
    </div>
    <div class="form-group">
        <label for="lotSize">Product Lot Size:</label>
        <input #productLotSize type="number" id="lotSize" placeholder="Product Lot Size" class="form-control" required />
    </div>
    <div class="form-group">
        <label for="description">Product Description:</label>
        <input #productDescription type="text" id="description" maxlength="512" placeholder="Product Description" class="form-control" required />
    </div>
    <div class="form-group">
        <button (click)="validate($event)">add product</button>
    </div>
</form>
<div class="errorBox" *ngIf="showErrorBox">
    <div *ngFor="let e of error">
        <p>{{ e }}</p>
    </div>
</div>
<table>
    <tr>
        <td>
            <app-product-list [productData]="productData"></app-product-list>
        </td>
        <td>
            <app-product-sold></app-product-sold>
        </td>
    </tr>
</table>